@if (UserModel is not null)
{
	<div class="card">
		<div class="card-body text-black">
			<h5 class="card-title">@UserModel.Name</h5>
			<p class="card-text">@UserModel.Username</p>
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">My address -> @UserModel.Address</li>
			<li class="list-group-item">I work at -> @UserModel.Company</li>
			<li class="list-group-item">My Number -> @UserModel.Phone</li>
		</ul>
		<div class="card-body">
			<a href="mailto: @UserModel.Email" class="card-link">@UserModel.Email</a>
			<a href="http://@UserModel.Website" class="card-link">@UserModel.Website</a>
		</div>
	</div>
}

@code {
	[Parameter]
	public UserModel? UserModel { get; set; }
}